
 /*about resume.html*/

.duiqi{
    text-align-last: justify;
}

.line{
    border-bottom: 1px solid #000;
    width: 480px;
}
.line2{
    border-bottom: 1px solid #000;
    width: 250px;
}
.line3{
    border-bottom: 1px solid #000;
    width: 760px;
}
 .main_div{
     width: 840px;
     height: 1188px;
     background: rgb(230,230,230);
     margin: auto;
     box-shadow: 0px 0px 10px 5px #555;
 }
.secend_div{
    width: 840px;
    height: 300px;
    margin: auto;
}

.image_div{
    position: relative;
    width: 240px;
    height: 336px;
    left: 40px;
    top: 40px;
    background: url("../images/me.jpg");
}
.info1{
    position: relative;
    left: 320px;
    top: -300px;
}
.info2{
    position: relative;
    width: 250px;
    height: 200px;
    left:40px;
    top: -400px;
}
.info3{
    position: relative;
    left:40px;
    top: -400px;
    width: 240px;
}
.info4{
    position: relative;
    left:40px;
    top:-460px;
    width: 760px;
}

.info5{
    position: relative;
    left:700px;
    top:40px;
    width: 200px;
}
.info6{
    width: 480px;
}

/*about index*/

 section.row, header.row, footer.row {
     margin: 0;
     position: relative;
 }